<div class="section-list-container">
  @if(listsContent().length === 0 && searchFilter().length > 0) {
  <p>No sections found in query "{{searchFilter()}}"</p>
  }
  @else if(searchFilter().length > 0 && listsContent().length > 0) {
  <p>Found {{listsContent().length}} {{listsContent().length === 1 ?
    'section' : 'sections'}} in query "{{searchFilter()}}"</p>
  }
  @else {
  <p>There are no sections</p>
  }
  @if (loadingState()) {
  <mat-spinner></mat-spinner>
  } @else {
  @for (item of listsContent(); track $index) {
  <mat-card class="section-card">
    <mat-card-header>
      <mat-card-title>{{item.title | uppercase}}</mat-card-title>
      <mat-card-subtitle>Students: {{item.studentsCount}} | Announcements: {{item.postsCount}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Description: {{item.description}}</p>
      <mat-card-actions>
        @if (authStore.user()?.role === 'admin') {
        <button mat-raised-button color="accent" (click)=" deleteSection(item.slug)">Delete</button>
        <button mat-raised-button color="accent" (click)="editSection(item)">Edit</button>
        }
        <button mat-raised-button color="accent" [routerLink]="['/sections', item.slug]">View</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
  }
  }
</div>