mat-card {
  max-width: 400px;
  max-height: calc(100vh - 6rem);
  margin: 2rem auto 0;
}
mat-card-header {
  justify-content: center;
  margin-bottom: 1rem;
}
mat-card-title {
  font-size: 1.5rem;
}
mat-card-content {
  padding: 0;

  overflow-y: auto;
}
.list-item {
  cursor: pointer;
}
