<mat-tab-group>
  <mat-tab label="Announcements">
    <div class="search-form">
      <app-search />
      <ng-container *ngIf="user$ | async as user">
        <button mat-raised-button color="primary" (click)="onClickAddAnnouncement()" *ngIf="user.role === 'teacher'">Add
          Announcement</button>
      </ng-container>
    </div>
    <ng-container *ngIf="announcements$ | async as announcements;">
      <app-list-items [lists]="announcements" (onClickEmitter)="onClickAnnouncement($event)" [icon]="'announcement'" />
      <!-- <app-announcement-list [announcements]="announcements" [isLoading]="isLoading"
        (announcementDelete)="onDeleteAnnouncement($event)" /> -->
    </ng-container>
  </mat-tab>
  <mat-tab label="Lessons">
    <div class="search-form">
      <app-search />
      <ng-container *ngIf="user$ | async as user">
        <button mat-raised-button color="primary" (click)="onClickAddLesson()" *ngIf="user.role === 'teacher'">Add
          Lesson</button>
      </ng-container>
    </div>
    <ng-container *ngIf="lessons$ | async as lessons;">
      <app-list-items [lists]="lessons" (onClickEmitter)="onClickLesson($event)" [icon]="'library_books'" />
      <!-- <app-lesson-list [lessons]="lessons" [isLoading]="isLoading" (lessonClick)="onClickLesson($event)"
        (lessonDelete)="onDeleteLesson($event)" /> -->
    </ng-container>
  </mat-tab>
</mat-tab-group>
