mat-form-field {
  max-width: 400px;
  width: 100%;
}

.full-width-table {
  width: 100%;
  table-layout: fixed;
  white-space: nowrap;
  overflow-x: auto;

  th,
  td {
    text-align: left;
    font-size: 12px;
  }

  tbody {
    width: 100%;
    overflow-x: auto;
  }
}
