.register-card {
  max-width: 540px;
  background: transparent;
  box-shadow: none;
}

mat-card-title {
  font-size: 1.5rem;
  color: var(--secondary-color);
  font-weight: 600;
}

mat-card-subtitle {
  font-size: 1rem;
  color: var(--secondary-color);
  font-weight: 400;
}

mat-form-field {
  width: 100%;
}

.flex-container {
  display: flex;
  gap: 10px;
}

.radio-role {
  display: flex;
  align-items: center;
  gap: 20px;

  background-color: #4a4a4a;
  border-radius: 4px;
  padding: 10px;

  label {
    color: #fff;
  }

  mat-radio-group {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }
}

mat-card-actions {
  padding: 0 15px;
  align-items: flex-start;
  button {
    width: 100%;
    box-shadow: none;
    margin-top: 14px;

    &:disabled {
      background: var(--primary-color-disabled);
    }
  }
}
