// mt-toolbar {
//   position: relative;
//   z-index: 2;
// }

mat-sidenav-container {
  height: 100vh;
}

mat-sidenav,
mat-sidenav-content {
  transition: all 500ms ease-in-out;
}

main {
  padding: 20px;
  margin-bottom: 100px;
}
