<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      {{announcement.title | slice: 0:20 | titlecase}}
      <span *ngIf="announcement.title.length > 20">...</span>
    </mat-card-title>
    <mat-card-subtitle>{{announcement.description}}</mat-card-subtitle>
    <span class="fill-space"></span>
    <mat-card-actions align="end">
      <button mat-button color="primary" (click)="onAnnouncementClick(announcement)">
        View
      </button>
    </mat-card-actions>
  </mat-card-header>
  <mat-card-content></mat-card-content>
  <!-- <mat-card-content>
    <pdf-viewer [src]="announcement.content" [render-text]="true" [original-size]="false"
      style="height: 100%"></pdf-viewer>
  </mat-card-content> -->
</mat-card>
