<mat-toolbar color="primary">
  <!-- APP lOGO-->
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <img class="header-logo" src="assets/mapa-logo.jpg" alt="Mapa Logo" />
  <span>MAPA</span>
  <span class="spacer"></span>
  <!-- Login and Regsiter Button -->
  <button mat-button routerLink="/login">Sign In</button>
  <button mat-button routerLink="/register">Sign Up</button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      @for (link of links; track link) {
      <mat-list-item
        [activated]="link.isActive"
        (click)="toggleActive(link)"
        routerLink="/"
      >
        <button mat-button>
          <mat-icon>{{ link.icon }}</mat-icon>
          <span>{{ link.name }}</span>
        </button>
      </mat-list-item>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- App Logo -->
    <div class="logo">
      <img src="assets/mapa-logo.jpg" alt="Mapa Logo" />
      <span>Mapa</span>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
