.login-card {
  max-width: 400px;
  background: transparent;
  box-shadow: none;
}

mat-card-title {
  font-size: 1.5rem;
  color: var(--secondary-color);
  font-weight: 600;
}

mat-card-subtitle {
  font-size: 1rem;
  color: var(--secondary-color);
  font-weight: 400;
}

mat-form-field {
  width: 100%;
}

mat-card-actions {
  padding: 0 15px;
  align-items: flex-start;
  button {
    width: 100%;
    box-shadow: none;

    &:disabled {
      background: var(--primary-color-disabled);
    }
  }
}
