<mat-toolbar class="mat-elevation-z3">
  <button mat-icon-button aria-label="Side Nav" (click)="collapse.set(!collapse())">
    <mat-icon>
      {{ collapse() ? 'menu' : 'close' }}
    </mat-icon>
  </button>
  <span>{{ titleService.getTitle() }}</span>
</mat-toolbar>

<mat-sidenav-container autosize>
  <mat-sidenav opened mode="side" [style.width]="sideNavWidth()">
    <app-sidenav [collapsed]="collapse()" />
  </mat-sidenav>

  <mat-sidenav-content class="content" [style.margin-left]="sideNavWidth()">
    <main>
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>