<mat-toolbar class="mat-elevation-z3">
  <button mat-icon-button aria-label="Side Nav" (click)="back()" matTooltip="Back">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>
    {{ titleService.getTitle() }}
  </span>
  <span class="spacer"></span>
  @if (!authStore.isLoading()) {
  <button mat-icon-button color="primary" aria-label="Logout Button" (click)="logout()" matTooltip="Logout">
    <mat-icon>logout</mat-icon>
  </button>
  } @else {
  <mat-spinner color="accent" mode="indeterminate" diameter="20"></mat-spinner>
  }
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>