mat-card {
  width: 400px;
  margin: 0 auto;

  mat-card-title {
    color: white;
  }
}

mat-divider {
  margin: 1rem 0;
}

form {
  display: flex;
  flex-direction: column;
}

.box {
  height: 100px;
  width: 100px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
