/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  --primary-color: #c2185b;
  --secondary-color: #8b8b8b;
  --primary-color-disabled: #696969;
  --primary-bg-color: #f5f5f5;

  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

main {
  padding: 24px;
  max-width: 1200px;
  margin: 0 auto;
}
