<header>
  <div class="section-header">
    <mat-form-field color="accent">
      <mat-label>Search Section</mat-label>
      <input matInput type="text" placeholder="Search" (keyup)="setFilter($event)" #searchFilterVal>
      <button matSuffix mat-icon-button aria-label="Clear"
        (click)="searchFilterVal.value = '';sectionStore.setSearchKeyword('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    @if (authStore.user()?.role === 'teacher') {
    <button class="add-section-btn" mat-raised-button color="primary" (click)="addSectionModal()">Add Section</button>
    }
  </div>
</header>
<section>
  <app-sections-list [loadingState]="sectionStore.isLoading()" [listsContent]="sectionStore.sections()"
    [searchFilter]="sectionStore.searchKeyword()"></app-sections-list>
</section>