<ng-container *ngIf="sections$ | async as sections;">
  <div class="search-form">
    <app-search (search)="onSubmitSearch($event)"></app-search>
    <button mat-raised-button (click)="onClickAddSection()">Add Section</button>
  </div>
  <app-section-list [sections]="sections" [isLoading]="isLoading" (sectionClick)="onClick($event)" />
</ng-container>

<ng-container *ngIf="isLoading">
  <mat-progress-spinner mode="indeterminate" [diameter]="50"></mat-progress-spinner>
</ng-container>

<!-- <mat-list role="list" *ngIf="sections$ | async as sections">
  <mat-list-item role="listitem" *ngFor="let section of sections">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Poodle</mat-card-title>
        <mat-card-subtitle>Non-sporting group</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end">
        <button mat-button>Learn More</button>
      </mat-card-actions>
    </mat-card>
  </mat-list-item>
</mat-list> -->
