<ng-container *ngIf="sections$ | async as sections;">
  <div class="search-form">
    <app-search (search)="onSubmitSearch($event)" [placeholder]="'Search Section'"></app-search>
    <ng-container *ngIf="user$ | async as user">
      <button mat-raised-button color="primary" (click)="onClickAddSection()" *ngIf="user.role === 'teacher'">Add
        Section</button>
    </ng-container>
  </div>
  <app-section-list [sections]="sections" [isLoading]="isLoading" (sectionClick)="onClick($event)"
    (sectionDelete)="onDeleteSection($event)" [hideActions]="false" />
</ng-container>

<ng-container *ngIf="isLoading">
  <mat-progress-spinner mode="indeterminate" [diameter]="50"></mat-progress-spinner>
</ng-container>
