<header>
  <div class="section-header">
    <mat-form-field color="accent">
      <mat-label>Search Post</mat-label>
      <input matInput type="text" placeholder="Search" #searchFilterVal>
      <button matSuffix mat-icon-button aria-label="Clear" (click)="searchFilterVal.value = '';">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    @if (authStore.user()?.role === 'teacher') {
    <button class="add-post-btn" mat-raised-button color="primary" (click)="addPostModal()">Add Post</button>
    }
  </div>
</header>
<section>
  <div class="section-list-container">
    @for (item of [1,2,3,4,5,6,7,8,9]; track $index) {
    <mat-card class="section-card">
      <mat-card-header>
        <mat-card-title>Post {{item}}</mat-card-title>
        <mat-card-subtitle>Students: 10 | Announcements: 20</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla veniam unde sint? Ullam,
          mollitia. Voluptate neque dignissimos quam hic eum mollitia, aliquid, a nobis officiis atque illo? Harum,
          magnam expedita.</p>
        <mat-card-actions>
          @if (authStore.user()?.role === 'teacher') {
          <button mat-raised-button color="accent">Delete</button>
          <button mat-raised-button color="accent">Edit</button>
          }
          <button mat-raised-button color="accent">View</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
    }
  </div>
  <!-- <app-sections-list [loadingState]="sectionStore.isLoading()" [listsContent]="sectionStore.sections()"
    [searchFilter]="sectionStore.searchKeyword()"></app-sections-list> -->
</section>